{% extends 'base.html' %}

{% load static %}

    <title>{% block title %}My Vision {% endblock title %}</title>

    {% block body %}
    <div class="container" style="margin-bottom:30px;">
        <h1 style="text-decoration: underline;">My Vision</h1>
        <br/>
        <br/>
        <p ><b >1. Building innovative websites <i class="fa-solid fa-arrow-right"></i></b> I carefully planned and understand the Client target audience, brand, and industry. Research the competition for improvement in the website. I Design the website with the user in the mind and try to implement innovative features</p>
        <br/>
        <br/>
        <p><b>2. Improving the user experience <i class="fa-solid fa-arrow-right"></i></b> My focus is how website should be easy to use and undestand with clear calls to action and visually appealing desing. I make sure that website is optimized for mobile devices. I test the website, and fix any bugs or technical issues ask my friend or beta testers to provide feedback on the user experience</p>
        <br/>
        <br/>
        <p><b>3. Solving real-world problems <i class="fa-solid fa-arrow-right"></i></b> My main goal is to solve the user and my client problem. I create the project plan by taking users problem in my mind. My main goal while creating any webiste is that users poblem can be solved easily </p>
      </div>
    {% endblock body %}
